.questionComponentWrapper {
    display: flex;
    height: 90%;
    align-items: center;
    justify-content: center;
}

.questionComponent {
    display: flex;
    max-width: 75%;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px auto;
}

.radioWrapper {
    display: flex;
    flex-direction: row;
    transition: .2s;
    padding: 15px;
    border-radius: 5px;
    width: 400px;
}

.radioWrapper--question {
    cursor: pointer;
}

.radioWrapper--question input[type="radio"] {
    cursor: pointer;
}

.radioWrapper--summary input[type="radio"] {
    cursor: default;
}

.radioWrapper--question label {
    cursor: pointer;
}

.radioWrapper--summary label {
    cursor: default;
}

.radioWrapper--question:hover {
    background-color: rgba(100, 100, 200, 0.2);
    transition: .2s;
}

.questionButton {
    margin-top: 15px;
    align-self: center;
}

.radioWrapper--correct {
    background-color: #5c3;
}

.radioWrapper--incorrect {
    background-color: #c55;
}
