.slideComponent {
    display: flex;
    flex-direction: column;
    height: 90%;
    align-items: center;
    justify-content: center;
}

.slideImg {
    height: 450px;
}

.button--test {
    margin-right: 300px;
}

.slideNavigation {
    margin: 20px 0;
}

.menuNavigation {
    margin-top: 60px;
}

.menuNavigation > .button {
    background-color: #3088fb;
}
